<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="theme.css" />

  {{!-- Syntax highlight: PrismJS --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.css">

  <title>{{ title }}</title>
</head>
<body class="line-numbers">{{!-- Syntax highlight with line numbers --}}

  {{!-- Sidebar --}}
  <aside>
    {{#each sidebar}}
      <div class="section{{#if sections}} current{{/if}}">
        <div class="info">
          <div class="thumbnail" style="background-image: url({{filename}}.png);"></div>
          <div class="data">
            <small>Tutorial</small>
            <a href="{{filename}}.html">{{title}}</a>
          </div>
        </div>
          <ul>
          {{#if sections}}
            {{#each sections}}
              <li><a href="#{{id}}"><span class="num">{{num}}</span>{{title}}</a></li>
            {{/each}}
          {{/if}}
          </ul>
      </div>
    {{/each}}
  </aside>

  <main>
    {{#each sections}}
    <section class="{{#if @first}} summary {{else}} step {{/if}}">
      {{{ . }}}

      {{!-- <label for=""></label>
      <input type="checkbox" />
      <a href="#" class="button">Mark step as complete</a> --}}

      <div class="completion ifont ifont-lrn_icon_finish"></div>
    </section>

    {{!-- add separator between each step/section --}}
    {{#unless @first}}
      {{#unless @last}}
        <div class="step-separator"></div>
      {{/unless}}
    {{/unless}}

    {{/each}}

    <div class="step-separator"></div>

    <section class="step final">
      {{!-- TODO: Use different wording here --}}
      <p><small>You've made it!</small></p>

      <h2>{{title}}</h2>
      <a href="#" class="button">Mark all complete and continue</a>
      <p><a href="#">Continue without marking complete</a></p>
    </section>

  </main>

  {{!-- Syntax highlight --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.js"></script>

</body>
</html>