<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="theme.css" />
  <title>{{ title }}</title>
</head>
<body>

  {{!-- Sidebar --}}
  <aside>
    {{#each sidebar}}
      <div>
        {{title}} {{filename}}

        {{#if sections}}
          <ul>
            {{#each sections}}
              <li><a href="#{{id}}">{{title}}</a></li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    {{/each}}
  </aside>

  <main>
    {{#each sections}}
    <section {{#if @first}} class="summary"{{/if}}>
      {{{ . }}}

      {{!-- <label for=""></label>
      <input type="checkbox" />
      <a href="#" class="button">Mark step as complete</a> --}}
    </section>

    {{!-- add separator between each step/section --}}
    {{#unless @first}}
      {{#unless @last}}
        <div class="step-separator"></div>
      {{/unless}}
    {{/unless}}

    {{/each}}
  </main>

</body>
</html>